[user]
	name = Leander Rodrigues
	email = me@leander.xyz
	signingkey = 

[alias]
	am = commit --amend
	amn = commit --amend --no-edit
	cb = checkout -b
	cd = checkout
	lg = log --color --graph --pretty=format:'%C(bold red)%h%Creset -%C(bold yellow)%d%Creset %s %C(bold green)(%ad) %C(bold blue)<%an>%Creset' --abbrev-commit --date=format:'%b %d, %Y'
	ls = branch
	la = !git config -l | grep alias | cut -c 7-

[core]
	editor = code --wait
[gpg]
	program = /opt/homebrew/bin/gpg
[commit]
	gpgsign = true
[init]
	defaultBranch = main
